<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hk</key>
	<dict>
		<key>1</key>
		<string>12</string>
		<key>1.5</key>
		<string>12.25</string>
		<key>2</key>
		<string>12.5</string>
		<key>2.5</key>
		<string>12.65</string>
		<key>3</key>
		<string>12.8</string>
		<key>3.5</key>
		<string>13</string>
		<key>4</key>
		<string>13.2</string>
		<key>4.5</key>
		<string>13.35</string>
		<key>5</key>
		<string>13.5</string>
		<key>5.5</key>
		<string>13.8</string>
		<key>6</key>
		<string>14.1</string>
		<key>6.5</key>
		<string>14.3</string>
		<key>7</key>
		<string>14.5</string>
		<key>7.5</key>
		<string>14.7</string>
		<key>8</key>
		<string>14.9</string>
		<key>8.5</key>
		<string>15.05</string>
		<key>9</key>
		<string>15.2</string>
		<key>9.5</key>
		<string>15.35</string>
		<key>10</key>
		<string>15.5</string>
		<key>10.5</key>
		<string>15.65</string>
		<key>11</key>
		<string>15.8</string>
		<key>11.5</key>
		<string>16.05</string>
		<key>12</key>
		<string>16.3</string>
		<key>12.5</key>
		<string>16.5</string>
		<key>13</key>
		<string>16.7</string>
		<key>13.5</key>
		<string>16.85</string>
		<key>14</key>
		<string>17</string>
		<key>14.5</key>
		<string>17.15</string>
		<key>15</key>
		<string>17.3</string>
		<key>15.5</key>
		<string>17.45</string>
		<key>16</key>
		<string>17.6</string>
		<key>16.5</key>
		<string>17.7</string>
		<key>17</key>
		<string>17.8</string>
		<key>17.5</key>
		<string>18</string>
		<key>18</key>
		<string>18.2</string>
		<key>18.5</key>
		<string>18.45</string>
		<key>19</key>
		<string>18.7</string>
		<key>19.5</key>
		<string>18.85</string>
		<key>20</key>
		<string>19</string>
		<key>20.5</key>
		<string>19.15</string>
		<key>21</key>
		<string>19.3</string>
		<key>21.5</key>
		<string>19.5</string>
		<key>22</key>
		<string>19.7</string>
		<key>22.5</key>
		<string>19.95</string>
		<key>23</key>
		<string>20.2</string>
		<key>23.5</key>
		<string>20.3</string>
		<key>24</key>
		<string>20.4</string>
		<key>24.5</key>
		<string>20.55</string>
		<key>25</key>
		<string>20.7</string>
		<key>25.5</key>
		<string>20.9</string>
		<key>26</key>
		<string>21</string>
		<key>26.5</key>
		<string>21.15</string>
		<key>27</key>
		<string>21.3</string>
		<key>27.5</key>
		<string>21.4</string>
		<key>28</key>
		<string>21.5</string>
		<key>28.5</key>
		<string>21.6</string>
		<key>29</key>
		<string>21.7</string>
		<key>30</key>
		<string>22</string>
	</dict>
	<key>us</key>
	<dict>
		<key>1</key>
		<string>12</string>
		<key>1.5</key>
		<string>12.25</string>
		<key>2</key>
		<string>12.5</string>
		<key>2.5</key>
		<string>12.65</string>
		<key>3</key>
		<string>12.8</string>
		<key>3.5</key>
		<string>13</string>
		<key>4</key>
		<string>13.2</string>
		<key>4.5</key>
		<string>13.35</string>
		<key>5</key>
		<string>13.5</string>
		<key>5.5</key>
		<string>13.8</string>
		<key>6</key>
		<string>14.1</string>
		<key>6.5</key>
		<string>14.3</string>
		<key>7</key>
		<string>14.5</string>
		<key>7.5</key>
		<string>14.7</string>
		<key>8</key>
		<string>14.9</string>
		<key>8.5</key>
		<string>15.05</string>
		<key>9</key>
		<string>15.2</string>
		<key>9.5</key>
		<string>15.35</string>
		<key>10</key>
		<string>15.5</string>
		<key>10.5</key>
		<string>15.65</string>
		<key>11</key>
		<string>15.8</string>
		<key>11.5</key>
		<string>16.05</string>
		<key>12</key>
		<string>16.3</string>
		<key>12.5</key>
		<string>16.5</string>
		<key>13</key>
		<string>16.7</string>
		<key>13.5</key>
		<string>16.85</string>
		<key>14</key>
		<string>17</string>
		<key>14.5</key>
		<string>17.15</string>
		<key>15</key>
		<string>17.3</string>
		<key>15.5</key>
		<string>17.45</string>
		<key>16</key>
		<string>17.6</string>
		<key>16.5</key>
		<string>17.7</string>
		<key>17</key>
		<string>17.8</string>
		<key>17.5</key>
		<string>18</string>
		<key>18</key>
		<string>18.2</string>
		<key>18.5</key>
		<string>18.45</string>
		<key>19</key>
		<string>18.7</string>
		<key>19.5</key>
		<string>18.85</string>
		<key>20</key>
		<string>19</string>
		<key>20.5</key>
		<string>19.15</string>
		<key>21</key>
		<string>19.3</string>
		<key>21.5</key>
		<string>19.5</string>
		<key>22</key>
		<string>19.7</string>
		<key>22.5</key>
		<string>19.95</string>
		<key>23</key>
		<string>20.2</string>
		<key>23.5</key>
		<string>20.3</string>
		<key>24</key>
		<string>20.4</string>
		<key>24.5</key>
		<string>20.55</string>
		<key>25</key>
		<string>20.7</string>
		<key>25.5</key>
		<string>20.9</string>
		<key>26</key>
		<string>21</string>
		<key>26.5</key>
		<string>21.15</string>
		<key>27</key>
		<string>21.3</string>
		<key>27.5</key>
		<string>21.4</string>
		<key>28</key>
		<string>21.5</string>
		<key>28.5</key>
		<string>21.6</string>
		<key>29</key>
		<string>21.7</string>
		<key>30</key>
		<string>22</string>
	</dict>
	<key>euro</key>
	<dict>
		<key>1</key>
		<string>12</string>
		<key>1.5</key>
		<string>12.25</string>
		<key>2</key>
		<string>12.5</string>
		<key>2.5</key>
		<string>12.65</string>
		<key>3</key>
		<string>12.8</string>
		<key>3.5</key>
		<string>13</string>
		<key>4</key>
		<string>13.2</string>
		<key>4.5</key>
		<string>13.35</string>
		<key>5</key>
		<string>13.5</string>
		<key>5.5</key>
		<string>13.8</string>
		<key>6</key>
		<string>14.1</string>
		<key>6.5</key>
		<string>14.3</string>
		<key>7</key>
		<string>14.5</string>
		<key>7.5</key>
		<string>14.7</string>
		<key>8</key>
		<string>14.9</string>
		<key>8.5</key>
		<string>15.05</string>
		<key>9</key>
		<string>15.2</string>
		<key>9.5</key>
		<string>15.35</string>
		<key>10</key>
		<string>15.5</string>
		<key>10.5</key>
		<string>15.65</string>
		<key>11</key>
		<string>15.8</string>
		<key>11.5</key>
		<string>16.05</string>
		<key>12</key>
		<string>16.3</string>
		<key>12.5</key>
		<string>16.5</string>
		<key>13</key>
		<string>16.7</string>
		<key>13.5</key>
		<string>16.85</string>
		<key>14</key>
		<string>17</string>
		<key>14.5</key>
		<string>17.15</string>
		<key>15</key>
		<string>17.3</string>
		<key>15.5</key>
		<string>17.45</string>
		<key>16</key>
		<string>17.6</string>
		<key>16.5</key>
		<string>17.7</string>
		<key>17</key>
		<string>17.8</string>
		<key>17.5</key>
		<string>18</string>
		<key>18</key>
		<string>18.2</string>
		<key>18.5</key>
		<string>18.45</string>
		<key>19</key>
		<string>18.7</string>
		<key>19.5</key>
		<string>18.85</string>
		<key>20</key>
		<string>19</string>
		<key>20.5</key>
		<string>19.15</string>
		<key>21</key>
		<string>19.3</string>
		<key>21.5</key>
		<string>19.5</string>
		<key>22</key>
		<string>19.7</string>
		<key>22.5</key>
		<string>19.95</string>
		<key>23</key>
		<string>20.2</string>
		<key>23.5</key>
		<string>20.3</string>
		<key>24</key>
		<string>20.4</string>
		<key>24.5</key>
		<string>20.55</string>
		<key>25</key>
		<string>20.7</string>
		<key>25.5</key>
		<string>20.9</string>
		<key>26</key>
		<string>21</string>
		<key>26.5</key>
		<string>21.15</string>
		<key>27</key>
		<string>21.3</string>
		<key>27.5</key>
		<string>21.4</string>
		<key>28</key>
		<string>21.5</string>
		<key>28.5</key>
		<string>21.6</string>
		<key>29</key>
		<string>21.7</string>
		<key>30</key>
		<string>22</string>
	</dict>
</dict>
</plist>
